.textFieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  gap: 4px;
  font-size: inherit;

  & span {
    color: #fa5252;
  }
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input {
  height: 42px;
  width: 100%;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #000000;
  font-size: inherit;
  padding: 0 12px ;
  transition: all .2s ease-in-out;
  opacity: inherit;

  &:focus {
    border-color: #3796e8;
  }

  &:invalid  {
    border-color: #fa5252;
  }
}

.error {
  color: #fa5252;
}

.xs {

  & input {
    height: 30px;
  }

  font-size: 12px;
}

.sm {
  
  & input {
    height: 36px;
  }

  font-size: 14px;
}

.lg {

  & input {
    height: 50px;
  }

  font-size: 18px;
}

.xl {

  & input {
    height: 60px;
  }

  font-size: 20px;
}

.inputError {
  border-color: #fa5252;
}

.disabled {
  opacity: 0.6;
}